<!-- url 구성 부분-->
@* @page 키워드를 넣고 /url을 적어주면 해당 url로 아래 페이지를 요청 가능하다.*@ 
@page "/gallery"

<div class="container-fluid">

    @*페이지 제목 구성하는 부분*@
    <h1 class="mt-4">Gallery</h1>

    <br />

    <div class="row">

        <!-- 카드 1-->
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/image/cat4.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">달복이랑 삼희</a>
                    </h4>
                    <p class="card-text">
                        달복이랑 삼희가 여유롭게 앉아있는 모습
                    </p>
                </div>
                <div class="card-footer">
                    <p>COUNT : @cat1LikeCount</p>
                    <button class="btn btn-danger" @onclick="@(() => IncrementCount(1))">
                        <i class="fa fa-heart"></i> 좋아요
                    </button>
                </div>
            </div>
        </div>

        <!-- 카드 2 -->
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/image/cat5.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">썸머</a>
                    </h4>
                    <p class="card-text">
                        침대위 눕방 즐기는 썸머, 그의 시그니처인 썸머 목걸이도 걸고 있다.
                    </p>
                </div>
                <div class="card-footer">
                    <p>COUNT : @cat2LikeCount</p>
                    <button class="btn btn-danger" @onclick="@(() => IncrementCount(2))">
                        <i class="fa fa-heart"></i> 좋아요
                    </button>
                </div>
            </div>
        </div>

        <!-- 카드 3 -->
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/image/cat6.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">쥐돌이와 썸머</a>
                    </h4>
                    <p class="card-text">
                        썸머 약 5개월때? 6개월때? 사진, 가운데 이마가 다 자라고 쥐돌이를 노려보고 있다.
                        지금 저 쥐돌이는.. 요단강을 건넜다.
                    </p>
                </div>
                <div class="card-footer">
                    <p>COUNT : @cat3LikeCount</p>
                    <button class="btn btn-danger" @onclick="@(() => IncrementCount(3))">
                        <i class="fa fa-heart"></i> 좋아요
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>

@*자바스크립트를 대신하는 C# 코드 부분*@

@code{

    int cat1LikeCount = 0;
    int cat2LikeCount = 0;
    int cat3LikeCount = 0;

    // 버튼 클릭시 좋아요 카운트가 올라간다.
    private void IncrementCount(int catNum)
    {
        if (catNum == 1)
            cat1LikeCount++;
        else if (catNum == 2)
            cat2LikeCount++;
        else if (catNum == 3)
            cat3LikeCount++;
    }
}
